<%= simple_form_for(@iol_power) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :power %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
